<%- include("partials/header"); -%>

<ul>
    <li>
        <h3>Sree Harsha Kancharla</h3>
        <h4>Contact No : +916309075096</h4>
        <h4>gmail : shkanchrala7777@gmail.com</h4>
        <a href="">linked in</a>
    </li>

    <li>
        <h3>Kulkarni Sri Vaishnavi</h3>
        <h4>Contact No : +916309075096</h4>
        <h4>gmail : shkanchrala7777@gmail.com</h4>
        <a href=""></a>
    </li>

    <li>
        <h3>Sree Harsha Kancharla</h3>
        <h4>Contact No : +916309075096</h4>
        <a href="">linked in</a>
    </li>

</ul>
<%- include("partials/footer"); -%>